@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
main{
  font-family: 'Roboto Condensed', sans-serif;
}
/* main {
  height: 10000px;
} */
/*-------
擬似要素テキストが流れる
-------*/
/* .flowimg {
  position: relative;
  padding: 10vw 10vw;
  overflow: hidden;
}

.flowimg::before,
.flowimg::after {
  content: "FLOWING";
  position: absolute;
  bottom: 10%;
  width: 100%;
  height: auto;
  color: #000;
  font-size: 20vw;
  font-family: "Marcellus", serif;
  line-height: 1;
  text-align: center;
  z-index: -1;
  opacity: 0.1;
}

.flowimg::before {
  left: 0;
  -webkit-animation: flowimg 40s linear infinite;
          animation: flowimg 20s linear infinite;
}

.flowimg::after {
  left: 100%;
  -webkit-animation: flowimg 40s linear infinite;
          animation: flowimg 20s linear infinite;
}

@-webkit-keyframes flowimg {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes flowimg {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 480px) {
  .flowimg {
    padding: 40px 10vw;
  }


}
.title {
  margin-bottom: 40px;
  line-height: 1;
  text-align: center;
}
.title h2 {
  display: block;
  font-style: 1.4rem;
  letter-spacing: 0.1em;
  margin-bottom: 8px;
}
.title span {
  font-family: "Marcellus", serif;
}

ul.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.box li {
  flex: 0 1 46%;
  height: 30vw;
  background-color: #565656;
} */

.section-top{
  margin-top: 150px; 
  margin-bottom: 150px; 
  width: 100%;
}

.section-top__wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;

}


.phrase{
  width: 40%;
}

.phrase h2{
  font-size: 1.6rem;
}


.phrase h3{
  font-size: 3.2rem;
  letter-spacing: 3px;
  font-weight: 600;
}
.color{
  color: blue;
}

.phrase p{
  margin-top: 30px;
  font-size: 1.2rem;
  width: 440px;
}
.img-wrapper{
  width: 40%;
}

.img-wrap{
  position: relative;
  width: 1px;
  height: 430px;
  overflow: hidden;
  opacity: 0;
  margin-left: 20px;
}
.img-wrap.active{
  width: 40vw;
  opacity: 1;
  transition: opacity 1s, width 2s;
}

.img-area{
  position: absolute;
  top:0;
  left: 0;
  width: 40vw;
  height: 100%;
  background-size: cover;
  background-position: center;
  transform: scale(1.6);

}

.img-wrap.active > .img-area{
  transform:scale(1);
  transition: 1s ease-in-out;
}
