@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
main{
  font-family: 'Roboto Condensed', sans-serif;
}

.section-top{
  width: 100%;
  position: relative;
  padding-top: 50px;
  max-width: 1500px;
  margin:  0 auto;
}
.section-top__title{
  margin:0 auto 60px auto;
  text-align-last: center;
  color:#000080;
  width: 600px;
  font-size: 4rem;
  letter-spacing: 5px;
  
}


.title__focus{
  display: inline-block;
  background-color: #000080;
  border-radius: 50px;
  padding:5px;
  color: #FFF;
}
.section-top__wrapper{
  display: flex;
  justify-content: space-around;
}

.phrase{
  display: flex;
  flex-direction: column;
}

.phrase h2{
  font-size: 1.6rem;
}


.phrase h3{
  font-size: 3rem;
  letter-spacing: 3px;
  font-weight: 600;
}
.color{
  color: blue;
}

.phrase p{
  margin-top: 30px;
  font-size: 1.2rem;
  width: 600px;
}


.img-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.img-wrapper::after{
  content: '';
    max-width: 500px;
    width: 40vw;
    height: 430px;
    background-color: #000090;
    position: absolute;
    top:-40px;
    right: -30px;
    z-index: 0;

}

.img-wrap{
  position: relative;
  width: 1px;
  height: 430px;
  overflow: hidden;
  opacity: 0;
  z-index: 1;
}

.img-wrap.active{
  max-width: 500px;
  width: 40vw;
  opacity: 1;
  transition: opacity 1s, width 1s;
}

.img-area{
  position: absolute;
  top:0;
  left: 0;
  width: 40vw;
  height: 100%;
  background-size: cover;
  background-position: center;
  transform: scale(1.6);

}

.img-wrap.active > .img-area{
  transform:scale(1);
  transition: 1s ease-in-out;
}
@media screen and (max-width: 1045px) {
  .section-top{
    margin-top: 10px; 
    margin-bottom: 80px; 
  }
  .section-top__title{
    font-size: 3.5rem;
  }
  .section-top__wrapper{
    display: block;
  }
  
  
  .phrase{
    display: block;
    width: 80%;
    margin:  0 auto;
    
  }
  
  .phrase h2{
    font-size: 1.2rem;
    text-align: center;
  }
  
  
  .phrase h3{
    font-size: 2.5rem;
    font-weight: 600;
    width: 500px;
    margin: 20px auto;
  }
  .color{
    color: blue;
  }
  
  .phrase p{
    font-size: 1.2rem;
    width: 80%;
    margin: 20px auto;
  }

  .img-wrapper{
    display: block;
    width: 80%;
    margin: 80px auto;
  }
  
  .img-wrapper::after{
      content: '';
      max-width:none;
      width: 70vw;
      height: 430px;
      background-color: #000070;
      position: absolute;
      top:-20px;
      right: -20px;
      z-index: -1;
  
  }
  
  .img-wrap.active{
    max-width:none;
    width: 70vw;
    opacity: 1;
    transition: opacity 1s, width 1s;
  }
  
  .img-area{
    width: 70vw;
  }
}

@media screen and (max-width: 576px) {
  .section-top{
    padding-top: 20px;
    margin-bottom: 80px; 
  }
  .section-top__title{
    margin:0 auto 30px auto;
    color:#000080;
    width: 300px;
    font-size: 2rem;
    letter-spacing: 2px;
    
  }
  .phrase{
    display: block;
    width: 80%;
    margin:  0 auto;
    
  }
  
  .phrase h2{
    font-size: 1rem;
    text-align: center;
  }
  
  
  .phrase h3{
    font-size: 1.5rem;
    font-weight: 600;
    width: 315px;
    margin: 20px auto;
  }
  .color{
    color: blue;
  }
  
  .phrase p{
    font-size: 0.9rem;
    width: 100%;
    margin: 10px auto;
  }

  .img-wrapper{
    display: block;
    width: 80%;
    margin: 40px auto;
  }
  
  .img-wrapper::after{
      content: '';
      max-width:none;
      width: 80vw;
      height: 300px;
      background-color: #000070;
      position: absolute;
      top:-20px;
      right: -20px;
      z-index: -1;
  
  }
  .img-wrap{
    height: 300px;
   
    
  }
  .img-wrap.active{
    max-width:none;
    width: 80vw;
    opacity: 1;
    transition: opacity 1s, width 1s;
  }
  
  .img-area{
    width: 80vw;
  }
}

/*-------------------------
  アニメーション
-------------------------*/

/*テキストアニメーション*/

.slide-in {
	overflow: hidden;
  display: inline-block;
}

.slide-in_inner {
	display: inline-block;

}

/*左右のアニメーション*/
.leftAnime{
    opacity: 0;/*事前に透過0にして消しておく*/
}

.slideAnimeLeftRight {
	animation-name:slideTextX100;
	animation-duration:1s;
	animation-fill-mode:forwards;
    opacity: 0;
}

@keyframes slideTextX100 {
  from {
	transform: translateX(-100%); /*要素を左の枠外に移動*/
        opacity: 0;
  }

  to {
	transform: translateX(0);/*要素を元の位置に移動*/
    opacity: 1;
  }
}

.slideAnimeRightLeft {
	animation-name:slideTextX-100;
	animation-duration:1s;
	animation-fill-mode:forwards;
    opacity: 0;
}


@keyframes slideTextX-100 {
  from {
	transform: translateX(100%);/*要素を右の枠外に移動*/
    opacity: 0;
  }

  to {
	transform: translateX(0);/*要素を元の位置に移動*/
    opacity: 1;
  }
}

.fade{
  opacity: 0;
}
.fadeUp{
  animation-name:fadeUpAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  }
  
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }

  /*-------------------------
    ボタンアニメーション
  -------------------------*/
  .btn-title{
    text-align: center;
    font-size: 2rem;
  }
  .btn-flat {
    text-align: center;
    display: block;
    width: 320px;
    overflow: hidden;
    position: relative;
    padding: 20px;
    color: #000;
    border-radius: 0;
    border:solid 1px #000;
    background: transparent;
    margin:  20px auto;
    font-weight: 600;
  }
  
  .btn-flat span {
    position: relative;
  }
  
  .btn-flat:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-96%);
    transform: translateX(-96%);
    background: #000080;
  }
  
  a.btn-flat:hover:before {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    color: #FFF;
  }

  .btn-flat:hover{
    color: #FFF;
    transition: 0.5s;
  }

  @media screen and (max-width: 576px) {
    .btn-title{
      font-size: 1.5rem;
    }
    .btn-flat {
      width: 220px;
      padding: 10px;
    }
  }


  /*-------------------------
     section service
  -------------------------*/
  .service{
    padding-bottom: 20px;
    height: 100vh;
  }
  .service__phrase{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
.service h2{
  font-size: 5rem;
  letter-spacing: 10px;
  color: yellow;
}

.sub-title{
  font-size: 1.5rem;
  letter-spacing: 0;
  display: block;
}
.service h3{
  color: yellow;
}
.service p{
  width: 60%;
  color: #FFF;
}
@media screen and (max-width: 1045px) {
  .service__phrase{
    display: block;
  }
  .service h2{
    font-size: 3.5rem;
    letter-spacing: 10px;
    text-align: center;
  }
  
  .sub-title{
    font-size: 1.5rem;
    letter-spacing: 0;
    display: block;
  }
  .service p{
    width: 60%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .service__phrase{
    display: block;
  }
  .service h2{
    font-size: 2rem;
    text-align: center;
    letter-spacing: 5px;
  }
  .sub-title{
    font-size: 1rem;
    letter-spacing: 0;
    display: block;
  }
  .service p{
    margin: 20px auto;
    font-size: 0.8rem;
    width: 320px;
  }
}

/*-------------------------
  画像スライド
-------------------------*/
.slider {
  width:94%;
  margin:50px auto;
}
.slider h3{
  text-align: center;
  font-size: 1.5rem;
}
.slider p{
  width: 100%;
  margin-top: 10px;
}
.slider img {
   width:100%;
   height:auto;
   border-radius: 10px;
}

.slider .slick-slide {
   margin:0 10px;
}


/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
   position: absolute;/*絶対配置にする*/
   top: 42%;
   cursor: pointer;/*マウスカーソルを指マークに*/
   outline: none;/*クリックをしたら出てくる枠線を消す*/
   border-top: 2px solid #666;/*矢印の色*/
   border-right: 2px solid #666;/*矢印の色*/
   height: 15px;
   width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
   left: -1.5%;
   transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
   right: -1.5%;
   transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
   text-align:center;
 margin:20px 0 0 0;
}

.slick-dots li {
   display:inline-block;
 margin:0 5px;
}

.slick-dots button {
   color: transparent;
   outline: none;
   width:8px;/*ドットボタンのサイズ*/
   height:8px;/*ドットボタンのサイズ*/
   display:block;
   border-radius:50%;
   background:#FFF;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
   background:yellow;
}
